body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("./images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 20px;
    padding: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: peachpuff;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: peachpuff;
    
}
#convertedTemperature{
    color: azure;
    background-color: black;
}
#convertedUnit{
    color: azure;
    background-color:black;
}
button {
    background-color: #0074d9;
    color:black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
}
